<div id="follow_button_<%= game.id %>" class="follow-button-container border-r border-white">
  <% if user_signed_in? %>
    <% if current_user.followings.exists?(game: game) %>
      <!-- Unfollow Button -->
      <%= button_to game_following_path(game, current_user.followings.find_by(game: game)),
          method: :delete,
          data: {
            turbo_method: :delete,
            turbo_confirm: t('following.unfollow_confirm')
          },
          class: "inline-flex items-center py-2 text-white font-medium" do %>
        <%= t('following.unfollow') %>
      <% end %>
    <% else %>
      <!-- Follow Button -->
      <%= button_to game_followings_path(game),
          method: :post,
          data: { turbo_method: :post },
          class: "inline-flex items-center py-2 text-white font-medium" do %>
        <%= t('following.follow') %>
        <%= image_tag "icons/subscribe.svg", class: "mr-2 ml-2" %>
      <% end %>
    <% end %>
  <% else %>
    <!-- Sign in to follow -->
    <%= link_to new_user_session_path,
        class: "inline-flex items-center py-2 text-white font-medium" do %>
      <%= t('following.follow') %>
      <%= image_tag "icons/subscribe.svg", class: "mr-2 ml-2" %>
    <% end %>
  <% end %>
</div>
