<section class="py-24">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col justify-center gap-x-16 gap-y-5 xl:gap-28 lg:flex-row lg:justify-between max-lg:max-w-2xl mx-auto max-w-full">
      <div class="w-full lg:w-1/2">
        <%= image_tag 'sprites/logo.png', class: 'mx-auto' %>
      </div>
      <div class="w-full lg:w-1/2">
        <div class="lg:max-w-xl">
          <div class="mb-6 lg:mb-16">
            <h1 class="text-4xl text-center font-medium mb-2 lg:text-left">indiexpo</h1>
            <p class="text-base mb-5 lg:text-left">indiexpo allows thousands of people to discover, watch and share indie games and originally-created games. Indiexpo provides an area for people to connect, inform, and inspire others across the globe and acts as a distribution platform for original content creators and advertisers large and small.</p>
          </div>
          <div>
            <div class="pb-8">
              <h5 class="inline-flex text-2xl mb-2 w-full">Apps</h5>
              <div id="basic-collapse-one-with-arrow-always-open" class="accordion-content w-full px-0 overflow-hidden pr-4 active" aria-labelledby="basic-heading-one-with-arrow-always-open">
                <a href="https://play.google.com/store/apps/details?id=net.indiexpo.www.twa" target="_blank" rel="noopener">
                  <%= image_tag 'sprites/indiexpo_Google_Play.png', class: 'mb-4' %>
                </a>
                <a href="https://play.google.com/store/apps/details?id=net.indiexpo.indiepad" target="_blank" rel="noopener">
                  <%= image_tag 'sprites/indiepad_Google_Play.png' %>
                </a>
              </div>
            </div>
            <div class="pb-8">
              <h5 class="inline-flex text-2xl mb-2 w-full">Extensions</h5>
              <div id="basic-collapse-two-with-arrow-always-open" class="accordion-content w-full px-0 overflow-hidden pr-4">
                <a href="https://chrome.google.com/webstore/detail/free-games/gechcfjojodafcpggkekfkkfpjacenno" target="_blank" rel="noopener">
                  <%= image_tag 'sprites/Chrome_Web_Store.png', class: 'mb-4' %>
                </a>
                <a href="https://addons.opera.com/extensions/details/free-games-2/" target="_blank" rel="noopener">
                  <%= image_tag 'sprites/Opera_Add-on.png' %>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <h5 class="text-2xl w-full mb-2">Social Networks</h5>
      <nav aria-label="Social Networks"
           class="grid grid-cols-3 sm:grid-cols-6 gap-3 sm:gap-4 place-items-center w-full mb-2">
        <%= link_to "https://www.facebook.com/indiexpo/", target: "_blank" do %>
          <%= image_tag "sprites/Facebook.webp",
                  loading: "lazy",
                  decoding: "async" %>
        <% end %>
        <%= link_to "https://x.com/intent/follow?screen_name=indiexpo_net", target: "_blank" do %>
          <%= image_tag "sprites/Twitter.webp",
                      loading: "lazy",
                      decoding: "async" %>
        <% end %>
        <%= link_to "https://www.youtube.com/c/indiexpo?sub_confirmation=1", target: "_blank" do %>
          <%= image_tag "sprites/Youtube.webp",
                      loading: "lazy",
                      decoding: "async" %>
        <% end %>
        <%= link_to "https://tiktok.com/@indiexpo", target: "_blank" do %>
          <%= image_tag "sprites/TikTok.webp",
                      loading: "lazy",
                      decoding: "async" %>
        <% end %>
        <%= link_to "https://discord.gg/u3NSuZ7", target: "_blank" do %>
            <%= image_tag "sprites/Discord.webp",
                      loading: "lazy",
                      decoding: "async" %>
        <% end %>
        <%= link_to "https://instagram.com/indiexpo", target: "_blank" do %>
          <%= image_tag "sprites/Instagram.webp",
                      loading: "lazy",
                      decoding: "async" %>
        <% end %>
      </nav>
    </div>
  </div>
</section>
